.menu {
	margin: 10px 0 0 0;
	padding: 10px;
	border: solid 1px #9EEAF9;
	min-height: 100px;
	border-radius: 5px;
	background-color: #fff;
	width: 170px;
	float: left;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title {
	height: 30px;
	line-height: 30px;
	border-bottom: solid 2px #ED811A;
	color: #ED811A;
	margin-bottom: 20px;
	text-align: center;
}

.menu .list {
	line-height: 30px;
	font-size: 14px;
	text-align: center;

}

.menu .list li {
	border-bottom: dotted 1px #ccc;
}

.menu .list li:hover {
	background: #fde2e2;
}

.content {
	margin: 10px 0 0 0;
	padding: 10px;
	border: solid 1px #9EEAF9;
	min-height: 700px;
	border-radius: 5px;
	background-color: #EEEEEE;
	width: 780px;
	float: right;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content .articlelist {
	line-height: 30px;
	font-size: 14px;

}

.content .articlelist li {
	border-bottom: dotted 1px #ccc;
}

.content .articlelist li a:hover {
	color: #ED811A;
}